absl-py
astor
astunparse
attrs
backcall
bleach
cachetools
certifi
chardet
click
colorama
cycler
decorator
defusedxml
entrypoints
Flask
Flask-Cors
flatbuffers==2.0
gast
geojson
google-auth
google-auth-oauthlib
google-pasta
grpcio
h5py
idna
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonify
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
keras==2.7.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver
libclang==13.0.0
lxml
Markdown
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
oauthlib
opencv-python
opt-einsum
packaging
pandas
pandas-datareader
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf==3.19.4
ptyprocess
pyasn1
pyasn1-modules
Pygments
pyparsing
pyrsistent
PySocks
python-dateutil
pytz==2020.1
pypiwin32 
pywinpty 
pyzmq
qtconsole
QtPy
requests
requests-oauthlib
rsa
scikit-learn
scipy
seaborn
Send2Trash
six
sklearn
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.6.0.post3
tensorflow==2.7.0
tensorflow-estimator==2.7.0
tensorflow-io-gcs-filesystem==0.24.0
termcolor
terminado
testpath
threadpoolctl
tornado
traitlets
typing_extensions
urllib3
wcwidth
webencodings
Werkzeug
widgetsnbextension
wincertstore
wrapt
zipp
